{% extends 'templates/base.njk' %}
{% block stylesheets %}{{ load_entry_tags('unlisted', 'css') | safe}}{% endblock %}
{% block javascripts %}{{ load_entry_tags('unlisted', 'js') | safe}}{% endblock %}
